html,body {
    height: 100%;
    width: 100%;
    margin:0;
    padding: 0;
}

.header {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    padding: 1.25rem 2.5vw;
    top: 0;
    z-index: 10;
}

.logo {
    width: 16rem;
}

.header .logo svg {
    fill: #1e3264;
    display: block;
}

.login-div{
    color: #1e3264;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 5%;
    margin-top: 0.5%;
}

.login-img {
    height: 3.125rem;
    width: 3.125rem;
    border-radius: 1.5625rem;
    position: relative;
    box-shadow: 0 0 0 2px #1e3264;
    overflow: hidden;
}

.login-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.login-text {
    text-align: right;
    margin-right: .625rem;
}

.user-name {
    font-size: 1.125rem;
    display: block;
    padding-bottom: .125rem;
    font-style: normal;
    font-weight: 600;
}

.share-logout {
    color: #1e3264;
    font-style: normal;
    font-weight: 400;
    font-size: .95rem;
    margin-top: -.1875rem;
    text-align: right;
}

.share {
    display: inline-block;
    text-align: right;
}

.logout {
    display: inline-block;
}

.nav {
    width: 80vh;
    top: 13vh;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: rotate(-90deg) translateX(-100%);
    transform: rotate(-90deg) translateX(-100%);
    display: flex;
}

.nav .links  {
    color: #1e3264;
    text-align: center;
    opacity: .35;
    cursor: pointer;
    margin-top: 2.5vw;
    font-size: .75rem;
}

#main,#trends,#insights{
    padding-top: 9.375rem;
    margin: 0 7.5vw 10rem;
}

.recent {
    display: none;
}

section .section-header {
    margin: 0 auto 6.25rem;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
}

section .section-header h1 {
    color: #1e3264;
    max-width: 85%;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: -.03em;
    line-height: 1;
    margin: .67em auto .3em;
    text-align: center;
    font-style: normal;
}

section .section-header h2 {
    max-width: 680px;
    font-size: 1rem;
    font-weight: 600;
    color: #1e3264;
    font-style: normal;
    text-align: center;
    margin: 0 auto;
}

.selection {
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto .9375rem;
}

.selection ul {
    -webkit-margin-before: 0;
    -webkit-padding-start: 0;
}

.selection ul li {
    margin: 0 2vw;
    display: inline-block;
    text-align: center;
}

.top-item {
    margin: 3.125rem auto 9.375rem;
    max-width: 56.25rem;
    position: relative;
    display: block;
}

#lifetime-top-artist .item-art,#lifetime-top-track .item-art {
    transform: matrix(1, 0, 0, 1, 0, 0);
    width: 50%;
    display: block;
}

#lifetime-top-artist .item-art img,#lifetime-top-track .item-art img {
    width: 100%;
}

#lifetime-top-artist .item-art {
    margin-left: 50%;
}

#lifetime-top-track .item-art {
    margin: 0;
}

#lifetime-top-artist .item-details {
    left: 0;
    right: inherit;
    text-align: left;
    position: absolute;
    bottom: 8%;
    width: auto;
    min-width: 100%;
    height: auto;
}

#lifetime-top-artist .item-details h2 {
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
    margin: 0 0 3% 3%;
    -ms-flex-item-align: start;
    align-self: flex-start;
    font-size: 1.125rem;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    background-color: rgba(30, 50, 100, .25);
    padding: .3125rem 1.5625rem;
    display: inline-block;
    width: auto;
}

#lifetime-top-artist .item-details h3 {
    font-size: 3.5rem;
    margin: 0 auto 0 0;
    color: #fff;
    background-color: #1e3264;
    padding: .625rem 2.1875rem;
    width: 100%;
    text-align: left;
    max-width: 55%;
    min-width: 55%;
    line-height: 1.1;
}

#lifetime-top-artist .item-details p {
    margin: -.625rem 0 0 6%;
    font-size: 1.125rem;
    color: #1e3264;
    background-color: #fff;
    padding: .3125rem 1.5625rem;
    display: inline-block;
}

#lifetime-top-artist .item-bg,#lifetime-top-track .item-bg {
    opacity: 0.08;
    transform: matrix(1, 0, 0, 1, 0, 0);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    position: absolute;
    width: 92.5%;
    background-color: #1e3264;
    bottom: -3.5vh;
    left: 3.75%;
    z-index: -1;
    -webkit-transform: scaleX(1);
}

.top-item .item-bg:before {
    content: '';
    float: left;
    padding-bottom: 48.64864865%;
    transition: padding-bottom .5s ease 0s;
}

.top-item .item-art:before, .top-item .item-bg:before {
    float: left;
    transition: padding-bottom .5s ease 0s;
    content: '';
}

#lifetime-top-track .item-details {
    position: absolute;
    bottom: 8%;
    right: 0;
    width: auto;
    text-align: right;
    min-width: 100%;
    height: auto;
}

#lifetime-top-track .item-details h2 {
    margin: 0 3% 3% 0;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    background-color: rgba(30,50,100,.25);
    padding: .3125rem 1.5625rem;
    display: inline-block;
    width: auto;
}

#lifetime-top-track .item-details h3 {
    max-width: 55%;
    min-width: 55%;
    line-height: 1.1;
    font-size: 3.5rem;
    margin: 0 0 0 auto;
    width: auto;
    color: #fff;
    background-color: #1e3264;
    padding: .625rem 2.1875rem;
    text-align: left;
}

#lifetime-top-track .item-details p {
    font-size: 1.125rem;
    margin: -.625rem 6% 0 0;
    color: #1e3264;
    background-color: #fff;
    padding: .3125rem 1.5625rem;
    display: inline-block;
}

.trend-time {
    margin: 0 auto 11.875rem;
    max-width: 61.25rem;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100%;
}

.trends-hour,.trends-min {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 45%;
    flex: 0 1 45%;
    text-align: center;
}

.trends-hour h1,.trends-min h1 {
    font-size: 5rem;
    color: #1e3264;
    line-height: 1em;
    margin: 0;
    letter-spacing: -.03em;
}

.trends-hour h1 span, .trends-min h1 span {
    margin: 0;
    line-height: 1em;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -.03em;
}

.trends-hour p, .trends-min p {
    line-height: 1em;
    font-size: 1rem;
    color: #1e3264;
    font-weight: 600;
}

.divider {
    height: 8.125rem;
    width: 2px;
    margin: 0;
    background: #1e3264;
}

.component-header {
    margin: 0 auto 6.25rem;
    text-align: center;
}

.component-header h1 {
    margin-bottom: .9375rem;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -.03em;
    line-height: 1;
    color: #1e3264;
    font-style: normal;
}

.component-header h2 {
    font-size: 1rem;
    margin-top: -5px;
    color: #1e3264;
    font-weight: 600;
    font-style: normal;
}

#trends .track-container {
    max-width: 100%;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

#trends .content-container {
    margin: 0 auto 7.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.track-feature-title,.track-feature-subtitle {
    font-size: 3rem;
    color: #000;
    font-style: normal;
    font-weight: 700;
    display: inline-block;
    letter-spacing: -.01em;
    margin: 0 .625rem;
    line-height: 1;
    text-align: center;
}

.track-feature-subtitle {
    font-size: 1.5rem;
    display: block;
}

.track-feature-title .highlight, .genre-insight .highlight {
    color: #1e3264;
}

.track-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    margin: 3.5625rem 0;
}

.track-col {
    margin: 0 1.5625rem;
    width: 15.625rem;
}

.album-placeholder img {
    width: 100%;
    margin: 0 auto;
    background-size: cover;
    background-color: #000;
    background-position: center center;
}

.subtitle {
    font-size: 0.6rem;
    color: #1e3264;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 2.1875rem;
    letter-spacing: .03125rem;
    padding: 0 2.5em;
}

.top-genre {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 0 auto 14.375rem;
    max-width: 70rem;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.left-genre {
    width: 50%;
    padding: 0 1.5625rem;
    margin-bottom: 1.5625rem;
}

.genre-insight {
    text-align: left;
    font-size: 2.1875rem;
    font-weight: 700;
    color: #000;
}

.right-genre {
    width: 50%;
    padding: 0 1.5625rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.graph-item {
    margin: .625rem 0;
}

.genre-title {
    color: #000;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 5px;
}

.graph-container {
    width: 100%;
    height: 2.1875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.graph-outer {
    height: 2.1875rem;
    width: 100%;
    background-color: rgba(30,50,100,.1);
}

.graph-inner {
    height: 2.1875rem;
    background-color: #1e3264;
}

.genre-percent {
    padding-left: 10px;
    color: #000;
}

.diversity {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding: 0;
}

.diversity-item {
    color: #000;
    text-align: center;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.diversity-header {
    font-size: 2.8125rem;
    font-style: normal;
    font-weight: 700;
    z-index: 2;
    line-height: 1;
    max-width: 100%;
    margin-bottom: .9375rem;
}

.diversity-subhead {
    max-width: 65%;
    font-size: 1.2rem;
    margin-top: 1rem;
}