html,body {
    height: 100%;
    width: 100%;
    margin:0;
    padding: 0;
}

.header {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    padding: 1.25rem 2.5vw;
    top: 0;
    z-index: 10;
}

.logo {
    width: 16rem;
}

.header .logo svg {
    fill: #1e3264;
    display: block;
}

.login-div{
    color: #1e3264;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 5%;
    margin-top: 0.5%;
}

.login-img {
    height: 3.125rem;
    width: 3.125rem;
    border-radius: 1.5625rem;
    position: relative;
    box-shadow: 0 0 0 2px #1e3264;
    overflow: hidden;
}

.login-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.login-text {
    text-align: right;
    margin-right: .625rem;
}

.user-name {
    font-size: 1.125rem;
    display: block;
    padding-bottom: .125rem;
    font-style: normal;
    font-weight: 600;
}

.share-logout {
    color: #1e3264;
    font-style: normal;
    font-weight: 400;
    font-size: .95rem;
    margin-top: -.1875rem;
    text-align: right;
}

.share {
    display: inline-block;
    text-align: right;
}

.logout {
    display: inline-block;
}

.nav {
    width: 80vh;
    top: 13vh;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: rotate(-90deg) translateX(-100%);
    transform: rotate(-90deg) translateX(-100%);
    display: flex;
}

.nav .links  {
    color: #1e3264;
    text-align: center;
    opacity: .35;
    cursor: pointer;
    margin-top: 2.5vw;
    font-size: .75rem;
}

#main,#trends{
    padding-top: 9.375rem;
    margin: 0 7.5vw 10rem;
}

.recent {
    display: none;
}

section .section-header {
    margin: 0 auto 6.25rem;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
}

section .section-header h1 {
    color: #1e3264;
    max-width: 85%;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: -.03em;
    line-height: 1;
    margin: .67em auto .3em;
    text-align: center;
    font-style: normal;
}

section .section-header h2 {
    max-width: 85%;
    font-size: 1rem;
    font-weight: 400;
    color: #1e3264;
    font-style: normal;
    text-align: center;
    margin: 0 auto;
}

.selection {
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto .9375rem;
}

.selection ul {
    -webkit-margin-before: 0;
    -webkit-padding-start: 0;
}

.selection ul li {
    margin: 0 2vw;
    display: inline-block;
    text-align: center;
}

.top-item {
    margin: 3.125rem auto 9.375rem;
    max-width: 56.25rem;
    position: relative;
    display: block;
}

#lifetime-top-artist .item-art,#lifetime-top-track .item-art {
    transform: matrix(1, 0, 0, 1, 0, 0);
    width: 50%;
    display: block;
}

#lifetime-top-artist .item-art img,#lifetime-top-track .item-art img {
    width: 100%;
}

#lifetime-top-artist .item-art {
    margin-left: 50%;
}

#lifetime-top-track .item-art {
    margin: 0;
}

#lifetime-top-artist .item-details {
    left: 0;
    right: inherit;
    text-align: left;
    position: absolute;
    bottom: 8%;
    width: auto;
    min-width: 100%;
    height: auto;
}

#lifetime-top-artist .item-details h2 {
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
    margin: 0 0 3% 3%;
    -ms-flex-item-align: start;
    align-self: flex-start;
    font-size: 1.125rem;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    background-color: rgba(30, 50, 100, .25);
    padding: .3125rem 1.5625rem;
    display: inline-block;
    width: auto;
}

#lifetime-top-artist .item-details h3 {
    font-size: 3.5rem;
    margin: 0 auto 0 0;
    color: #fff;
    background-color: #1e3264;
    padding: .625rem 2.1875rem;
    width: 100%;
    text-align: left;
    max-width: 55%;
    min-width: 55%;
    line-height: 1.1;
}

#lifetime-top-artist .item-details p {
    margin: -.625rem 0 0 6%;
    font-size: 1.125rem;
    color: #1e3264;
    background-color: #fff;
    padding: .3125rem 1.5625rem;
    display: inline-block;
}

#lifetime-top-artist .item-bg,#lifetime-top-track .item-bg {
    opacity: 0.08;
    transform: matrix(1, 0, 0, 1, 0, 0);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    position: absolute;
    width: 92.5%;
    background-color: #1e3264;
    bottom: -3.5vh;
    left: 3.75%;
    z-index: -1;
    -webkit-transform: scaleX(1);
}

.top-item .item-bg:before {
    content: '';
    float: left;
    padding-bottom: 48.64864865%;
    transition: padding-bottom .5s ease 0s;
}

.top-item .item-art:before, .top-item .item-bg:before {
    float: left;
    transition: padding-bottom .5s ease 0s;
    content: '';
}

#lifetime-top-track .item-details {
    position: absolute;
    bottom: 8%;
    right: 0;
    width: auto;
    text-align: right;
    min-width: 100%;
    height: auto;
}

#lifetime-top-track .item-details h2 {
    margin: 0 3% 3% 0;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    background-color: rgba(30,50,100,.25);
    padding: .3125rem 1.5625rem;
    display: inline-block;
    width: auto;
}

#lifetime-top-track .item-details h3 {
    max-width: 55%;
    min-width: 55%;
    line-height: 1.1;
    font-size: 3.5rem;
    margin: 0 0 0 auto;
    width: auto;
    color: #fff;
    background-color: #1e3264;
    padding: .625rem 2.1875rem;
    text-align: left;
}

#lifetime-top-track .item-details p {
    font-size: 1.125rem;
    margin: -.625rem 6% 0 0;
    color: #1e3264;
    background-color: #fff;
    padding: .3125rem 1.5625rem;
    display: inline-block;
}